@page "/admin/dashboard"
@layout AdminLayout
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using app.Models
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session

<h1>Dashboard</h1>

<div class="admin-container">
    <div class="tile">
        <div class="tile-container">
            Welcome to the administrator's page.
        </div>
    </div>
</div>