@page "/admin/reps/edit/{HospitalRepID:int?}"
@layout AdminLayout
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using app.Models

@using Microsoft.EntityFrameworkCore
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session
@inject ApplicationDbContext dbContext

<h1>Hospital Representative Edit</h1>

<ConfirmDialog @ref="dialog" />

<div class="admin-container">
    <div class="tile">
        <div class="tile-container">

            <form class="w-80">
                <!--<div class="row mb-1">
                    <div class="col-1">
                        <img src="/images/hospital_pic_example.jpg" class="rounded-circle w-100" alt="Hospital Image">
                    </div>
                </div>-->

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>First Name</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.Firstname"
                                   placeholder="Jane" disabled />
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label>Last Name</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.Lastname"
                                   placeholder="Doe" disabled />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control w-100" @bind-value="representative.Email"
                                   placeholder="jane@mail.com" disabled />
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label>Contact</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.Contact"
                                   placeholder="416-555-5555" />
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="mb-3">
                            <label>Hospital</label>
                            <AutoComplete @bind-Value="hospitalName" TItem="Hospital"
                                          DataProvider="HospitalDataProvider" PropertyName="Name"
                                          Placeholder="e.g. Toronto General Hospital" class="form-control w-100"
                                          OnChanged="(Hospital h) => OnAutoCompleteChanged(h)" />
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label>Employee ID</label>
                            <input type="email" class="form-control w-100" @bind-value="representative.EmployeeID"
                                   placeholder="Employee ID" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Approval</label>
                            <Switch Class="mt-2" @bind-Value="approval" />
                        </div>
                    </div>

                </div>
                <div class="p-5">
                    <span class="float-end"><button class="btn btn-success" style="width: 100px;" type="button"
                                                        @onclick="OnClickSave">Save</button></span>
                        <span class="float-end"><button class="btn btn-light mx-2" style="width: 100px;" type="button"
                                                            @onclick="OnClickCancel">Cancel</button></span>
                            @if (HospitalRepID != 0)
                            {
                                <span class="float-end"><button class="btn btn-danger" style="width: 100px;"
                                                                    @onclick="ShowDialogAsync" type="button">Delete</button></span>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>

@code {
    [Parameter]
    public int HospitalRepID { get; set; }
    private ConfirmDialog dialog = default!;
    private Representative representative = new Representative();
    private bool approval = false;
    private string hospitalName = "";
    private List<Hospital> hospitals = new List<Hospital>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            hospitals = dbContext.Hospitals.Where(h => h.Visible == true).OrderBy(h => h.Name).ToList();
            //hospitals = dbContext.Hospitals.OrderBy(h => h.Name).ToList();
        }
    }

    protected override void OnInitialized()
    {
        if (HospitalRepID != 0)
        {
            representative = dbContext.Representative.Where(h => h.Id ==
            HospitalRepID).Include<Representative>("Hospital").First<Representative>();
            approval = representative.Status == 1;
            hospitalName = representative.Hospital.Name;
        }
    }

    private async Task OnClickSave()
    {
        representative.Status = (approval ? 1 : 0);
        if (HospitalRepID == 0)
        {
            dbContext.Representative.Add(representative);
        }
        else
        {
            dbContext.Representative.Update(representative);
        }

        dbContext.SaveChanges();
        Nav.NavigateTo("/admin/reps");
    }

    private async Task OnClickCancel()
    {

        Nav.NavigateTo("/admin/reps");
    }

    private async Task ShowDialogAsync()
    {
        var options = new ConfirmDialogOptions { IsScrollable = true, IsVerticallyCentered = true };
        var confirmation = await dialog.ShowAsync("Are you sure?", "Are you sure to delete?", options);

        if (confirmation)
        {
            dbContext.Representative.Remove(representative);
            dbContext.SaveChanges();
            Nav.NavigateTo("/admin/reps");
        }
        else
        {
            // do something
        }
    }

    private async Task<AutoCompleteDataProviderResult<Hospital>>
    HospitalDataProvider(AutoCompleteDataProviderRequest<Hospital> request)
    {

        return await Task.FromResult(request.ApplyTo(hospitals.OrderBy(h => h.Name)));
    }

    private void OnAutoCompleteChanged(Hospital h)
    {
        representative.Hospital = h;

    }


}