@page "/admin/hospitals/edit/{HospitalID:int?}"
@layout AdminLayout
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Microsoft.EntityFrameworkCore
@using app.Models
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session
@inject ApplicationDbContext dbContext

<h1>Hospital Edit</h1>

<ConfirmDialog @ref="dialog" />

<div class="admin-container">
    <div class="tile">
        <div class="tile-container">
            <form class="w-80">
                <div class="row mb-1">
                    <div class="col-1">
                        <img src="@HospitalImage" class="rounded-circle w-100" alt="Hospital Image">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Hospital Name</label>
                            <input type="text" class="form-control w-100" @bind-value="hospital.Name" placeholder="Input box" />
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label>Address</label>
                            <input type="text" class="form-control w-100" @bind-value="hospital.Address" placeholder="Input box" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Beds Available</label>
                            <input type="text" class="form-control w-100" @bind-value="hospital.BedsOpen" placeholder="Input box" />
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label>Status</label>
                            <input type="text" class="form-control w-100" @bind-value="hospital.Status" placeholder="Input box" />
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Services</label>

                            <AutoComplete @bind-Value="serviceValue"
                                          TItem="HospitalService"
                                          DataProvider="HospitalServiceProvider"
                                          PropertyName="ServiceName"
                                          Placeholder="Services to add... "
                                          class="form-control w-100"
                                          OnChanged="(HospitalService h) => OnAutoCompleteChanged(h)" />


                            @foreach (var assignment in assignments)
                            {
                                <Button Color="ButtonColor.Primary" @onclick="() => { OnClickRemoveService(assignment); }" Size="ButtonSize.Large">@assignment.Service.ServiceName <i class="bi bi-x-lg"></i></Button>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Visible</label>
                            <Switch Class="mt-2" @bind-Value="hospital.Visible" />
                        </div>
                    </div>



                </div>

                
            </form>
        </div>
    </div>
</div>

<div class="fixed-bottom bg-white shadow-sm ">
    <div class="p-5">
        <span class="float-end"><button class="btn btn-primary" type="button" @onclick="OnClickSave">Save</button></span> 
        <span class="float-end"><button class="btn btn-light" type="button" @onclick="OnClickCancel">Cancel</button></span> 
        @if (HospitalID != 0)
        {
            <span class="float-end"><button class="btn btn-danger" @onclick="ShowDialogAsync" type="button">Delete</button></span>
        }
    </div>
</div>

@code {
    private ConfirmDialog dialog = default!;
    private Hospital hospital = new Hospital();

    private List<HospitalService> services = new List<HospitalService>();
    private Dictionary<int, string> serviceDctionary = new Dictionary<int, string>();
    private List<HospitalServiceAssignment> assignments = new List<HospitalServiceAssignment>();
    private List<HospitalServiceAssignment> assignemntsTobeRemoved = new List<HospitalServiceAssignment>();
    private string HospitalImage = "/images/hospital_pic_example_grey.jpg";
    private string serviceValue = "";

    [Parameter]
    public int HospitalID { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            services = dbContext.HospitalServices.OrderBy(h => h.ServiceName).ToList();
            services.ForEach((element) =>{
                serviceDctionary.Add(element.Id, element.ServiceName);
            });
            //hospitals = dbContext.Hospitals.OrderBy(h => h.Name).ToList();
        }
    }

    protected override void OnInitialized()
    {
        Console.WriteLine(HospitalID);

        if(HospitalID != 0)
        {
            hospital = dbContext.Hospitals.Where(h => h.Id == HospitalID).SingleOrDefault<Hospital>();

            if(!string.IsNullOrEmpty(hospital.Photo))
            {
                HospitalImage = hospital.Photo; 
            }

            assignments = dbContext.HospitalServiceAssignment.Where(h => h.Hospital == hospital).Include("Service").ToList();

        }
    }

    private async Task OnClickSave()
    {
        hospital.Services = UpdateAssignments();
        if (HospitalID == 0)
        {
            dbContext.Hospitals.Add(hospital);
        }
        else
        {
            dbContext.Hospitals.Update(hospital);
        }

        dbContext.SaveChanges();
        Nav.NavigateTo("/admin/hospitals");
    }

    private async Task OnClickCancel()
    {
        Nav.NavigateTo("/admin/hospitals");
    }

    private async Task OnClickRemoveService(HospitalServiceAssignment assignment)
    {
        assignemntsTobeRemoved.Add(assignment);
        assignments.Remove(assignment);
        return;
    }

    private async Task ShowDialogAsync()
    {
        var options = new ConfirmDialogOptions { IsScrollable = true, IsVerticallyCentered = true };
        var confirmation = await dialog.ShowAsync( "Are you sure?", "Are you sure to delete?",options);

        if (confirmation)
        {
            dbContext.Hospitals.Remove(hospital);
            Nav.NavigateTo("/admin/hospitals");
        }
        else
        {
            // do something
        }
    }

    private List<string> UpdateAssignments()
    {
        List<string> deseralizedList = new List<string>();
        //dbContext.HospitalServiceAssignment.Where(h => h.Hospital == hospital).ExecuteDelete();

        foreach (var assignmentToBeRemoved in assignemntsTobeRemoved)
        {
            dbContext.HospitalServiceAssignment.Remove(assignmentToBeRemoved);
        }

        foreach (var assignment in assignments) {

            if(assignment.Id == 0)
            {
                dbContext.HospitalServiceAssignment.Add(assignment);
            } else
            {
                dbContext.HospitalServiceAssignment.Update(assignment);
            }

            
            deseralizedList.Add(assignment.Service.ServiceName);
        }

        return deseralizedList;


    }

    private async Task<AutoCompleteDataProviderResult<HospitalService>> HospitalServiceProvider(AutoCompleteDataProviderRequest<HospitalService> request)
    {

        return await Task.FromResult(request.ApplyTo(services.OrderBy(h => h.ServiceName)));
    }

    private void OnAutoCompleteChanged(HospitalService h)
    {
        assignments.Add(new HospitalServiceAssignment { Hospital = hospital, Service = h });

        serviceValue = "";

    }

}