@page "/admin/hospitals"
@layout AdminLayout
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using app.Models
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session

<h1>Hospital Management</h1>

<span class="float-end"><button class="btn btn-primary" type="button" @onclick="RegisterNewHospital">New Hospital</button></span>

<div class="admin-container">
    <div class="tile">
        <div class="tile-container">
                   
            <HospitalMgmtList Hospitals="hospitals" ></HospitalMgmtList>


        </div>
    </div>
</div>

@code {
    List<Hospital> hospitals = new List<Hospital>();

    protected override void OnInitialized()
    {
        hospitals.Add(new Hospital()
        {
            Name = "No name hospital 1",
            Photo = "",
            Status = ""
        });

        hospitals.Add(new Hospital()
        {
            Name = "No name hospital 2",
            Photo = "",
            Status = ""
        });

        hospitals.Add(new Hospital()
        {
            Name = "No name hospital 3",
            Photo = "",
            Status = ""
        });

    }

    private void RegisterNewHospital()
    {
        Nav.NavigateTo("/admin/hospitals/edit");   
    }
}