@using app.Models
@using BlazorBootstrap
@inject NavigationManager Nav

<Card @attributes="AllOtherAttributes">
    <ul class="list-group list-group-flush">
    @foreach (var rep in Representatives)
    {



            <li class="list-group-item" style="cursor:pointer;" @onclick="(e) => OnClickRep(rep.Id)">
                <b>@rep.Firstname @rep.Lastname</b>
                <span class="badge badge-pill badge-success">Approved</span>
                <span>@(rep.Hospital == null ? "" : rep.Hospital.Name)</span>
        </li>
   

        
    }
    </ul>

</Card>

@code {

    [Parameter]
    public List<Representative> Representatives { get; set; } = new List<Representative>();

    [Parameter(CaptureUnmatchedValues = true)]// Catches all undefined parameters here
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    private void OnClickRep(int Id)
    {
        
        Nav.NavigateTo("/admin/reps/edit/" + Id.ToString());
    }
}
