@page "/rep/settings"
@layout RepLayout
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using app.Models
@using Microsoft.EntityFrameworkCore
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session
@inject ApplicationDbContext dbContext

<PageTitle>Representative Settings | QueueSpot</PageTitle>

<h1 class="ms-5">Hospital Representative Edit</h1>

<div class="admin-container">
    <div class="tile">
        <div class="tile-container">
            <form class="w-80">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>First Name</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.Firstname"
                                   placeholder="First Name" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label>Last Name</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.Lastname"
                                   placeholder="Last Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control w-100" value="@representative.Email" readonly
                                   placeholder="Email" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label>Contact</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.Contact"
                                   placeholder="Contact" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Hospital</label>
                            <input type="text" class="form-control w-100" value="@hospitalName" readonly
                                   placeholder="Hospital" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label>Employee ID</label>
                            <input type="text" class="form-control w-100" @bind-value="representative.EmployeeID"
                                   placeholder="Employee ID" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" class="form-control w-100" @bind-value="PasswordChange"
                                   placeholder="Enter New Password" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control w-100" @bind-value="PasswordChangeConfirm"
                                   placeholder="Retype New Password" />
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex justify-content-end">
                    <button class="btn btn-success" style="width: 180px;" type="button"
                            @onclick="OnClickSave">Save</button>
                </div>
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger" role="alert">
                        There was an error while updating your information : @errorMessage
                    </div>
                }

                @if (SuccessfulUpdate)
                {
                    <div class="alert alert-success mt-3" role="alert">
                        Your Information has been updated.
                    </div>
                }

            </form>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int HospitalRepID { get; set; }
    private Representative representative = new Representative();
    private bool approval = false;
    private string hospitalName = "";
    private List<Hospital> hospitals = new List<Hospital>();
    private string PasswordChange = "", PasswordChangeConfirm = "";
    private string errorMessage = "";
    private bool SuccessfulUpdate = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            var currentSess = await Session.GetAsync<string>("email");
            string? currentEmail = currentSess.Value;
            if (currentEmail != null)
            {
                representative = dbContext.Representative.Where(h => h.Email ==
currentEmail).Include<Representative>("Hospital").First<Representative>();
                approval = representative.Status == 1;
                hospitalName = representative.Hospital.Name;
            }
            hospitals = dbContext.Hospitals.Where(h => h.Visible == true).OrderBy(h => h.Name).ToList();
            StateHasChanged();
            //hospitals = dbContext.Hospitals.OrderBy(h => h.Name).ToList();
        }
    }

    protected override void OnInitialized()
    {

    }

    private async Task OnClickSave()
    {
        errorMessage = "";
        SuccessfulUpdate = false;
        if (PasswordChange != "")
        {
            if (PasswordChange == PasswordChangeConfirm)
            {

                representative.Password = PasswordChange;
            }
            else
            {
                errorMessage = "Password doesn't match!";
                return;
            }
        }

        dbContext.Representative.Update(representative);


        dbContext.SaveChanges();
        PasswordChange = "";
        PasswordChangeConfirm = "";
        SuccessfulUpdate = true;
        //Nav.NavigateTo("/admin/reps");
    }

    private async Task OnClickCancel()
    {

        Nav.NavigateTo("/admin/reps");
    }


    private async Task<AutoCompleteDataProviderResult<Hospital>>
HospitalDataProvider(AutoCompleteDataProviderRequest<Hospital> request)
    {

        return await Task.FromResult(request.ApplyTo(hospitals.OrderBy(h => h.Name)));
    }

    private void OnAutoCompleteChanged(Hospital h)
    {
        representative.Hospital = h;

    }


}