<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/d67ace66-9aeb-43e1-b5ab-d7ed990afa88/resourcegroups/SDBP-022-DEMO/providers/Microsoft.ContainerRegistry/registries/app20260212154011</ContainerResourceId>
    <ContainerResourceName>app20260212154011</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>app20260212154011.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>queuespot</ContainerName>
    <EnvironmentName>queuespot-env-20260212153301</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://queuespot-20260212153257.redcoast-2d7791c7.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/d67ace66-9aeb-43e1-b5ab-d7ed990afa88/resourceGroups/SDBP-022-DEMO/providers/Microsoft.App/containerApps/queuespot-20260212153257</ResourceId>
    <ResourceGroup>SDBP-022-DEMO</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>