@page "/admin/login"
<PageTitle>Login - QueueSpot</PageTitle>
@layout LoginLayout
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using app.Models
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session
@inject ApplicationDbContext dbContext


<PageTitle>Login</PageTitle>


<h1 class="mb-5">Management Login</h1>
<form>
    <div class="flex justify-content-center">

        <div class="mb-3">
            <label>Email Address</label>
            <input type="text" class="form-control w-100" @bind="email" />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control w-100" @bind="password" />
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        <button class="btn btn-primary w-100 mt-3" type="button" @onclick="OnLogin">@SigninText</button>
    </div>

</form>

<div class="my-4">
    <a href="/admin/sign-up">Don’t have an account? Register your hospital
    </a>
</div>
@code {
    private string email = "";
    private string password = "";
    private string errorMessage = "";
    private string SigninText = "Sign in";
    private Representative representative = new Representative();

    private async Task OnLogin()
    {
        SigninText = "Please wait...";
        // ToDo : Authenticate through backend
        representative = dbContext.Representative.Where(h => h.Email == email && h.Password ==
            password).FirstOrDefault<Representative>();

        if (representative != null && representative.Id != 0)
        {
            if (representative.Role == "admin")
            {
                await Session.SetAsync("email", (object)email);
                await Session.SetAsync("role", (object)representative.Role);
                Nav.NavigateTo("/admin/dashboard");
                return;
            }
            else
            {
                // representative = dbContext.Representative.Where(h => h.Email == email && h.Password ==
                // password).FirstOrDefault<Representative>();

                // if (representative != null && representative.Id != 0)
                // {
                if (representative.Status == 0)
                {
                    SigninText = "Sign in";
                    errorMessage = "Your registration request is still under review. Please wait until your request is approved.";
                    return;
                }
                else
                {
                    await Session.SetAsync("email", (object)email);
                    await Session.SetAsync("role", (object)representative.Role);
                    Nav.NavigateTo("/admin/dashboard");
                    return;
                }
                // }
            }
        }

        SigninText = "Sign in";
        errorMessage = "Invalid Email or Password!";
    }


}