@page "/admin/sign-up"
@layout LoginLayout

<h1>Management Account Registration</h1>
<p>Please complete the form below to request access. Our team will review and approve your application.</p>

@if (string.IsNullOrEmpty(successfulMsg))
{
    <form>
        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control w-100" @bind="name" />
        </div>
        <div class="mb-3">
            <label>Email Address</label>
            <input type="text" class="form-control w-100" @bind="email" />
        </div>

        <div class="mb-3">
            <label>Contact</label>
            <input type="text" class="form-control w-100" placeholder="416-555-5555" @bind="contact" />
        </div>

        @* TODO:Better options like dropdown, autocomplete etc.     *@
        <div class="mb-3">
            <label>Hospital</label>
            <input type="text" placeholder="e.g. Toronto General Hospital" class="form-control w-100" @bind=" hospital" />
        </div>
        <div class="mb-3">
            <label>Employee ID</label>
            <input type="text" placeholder="" class="form-control w-100" @bind="employeeID" />
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control w-100" @bind="password" />
        </div>

        <div class="mb-3">
            <label>Confirm Password</label>
            <input type="password" class="form-control w-100" @bind="passwordConfirm" />
        </div>




        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        <button class="btn btn-primary w-100 mt-3" type="button" @onclick="OnSubmit">Request registration</button>

    </form>
}
else
{
    <div class="alert alert-success" role="alert">
        Thank you for your submission.

        <p>@successfulMsg</p>
    </div>
}



<div class="mt-4">
    <a href="/admin/login">Already have an account? Back to login</a>
</div>

@code {
    private string errorMessage = "";
    private string successfulMsg = "";
    private string email = "";
    private string name = "";
    private string contact = "";
    private string hospital = "";
    private string employeeID = "";
    private string password = "";
    private string passwordConfirm = "";

    private async Task OnSubmit()
    {
        // Todo : Registration to the database after validation
        successfulMsg = "You'll be contacted by our team for verification. Once your request is approved, you'll be able to access our system.";
    }
}