body {
    background: #f6f7f8;
}

main {

}

.admin-main-page {
    padding: 45px;
}

.admin-main-page h1 {
    margin-top:45px;
}
.admin-container {
    padding-top: 2em;
    clear:both;
}

.tile { 
    background:#fff;
    border-radius:7px; 
    overflow:hidden;
}

.tile-container {
    padding:45px;
}