body {
  background: #f6f7f8;
}

main {
}

.admin-main-page {
  padding: 20px;
}

.admin-main-page h1 {
  margin-top: 20px;
}
.admin-container {
  padding-top: 2em;
  clear: both;
}

.tile {
  background: #fff;
  border-radius: 7px;
  overflow: hidden;
}

.tile-container {
  padding: 45px;
}

.card-image-fixer {
  width: 202px;
  height: 15vh;
  object-fit: cover;
}

.tile a {
  text-decoration: none;
}
