body {
}

.close-button {
  background: none;
  border: none;
}

.tile {
  -webkit-box-shadow: 2px 2px 10px 5px rgba(165, 165, 165, 0.187);
  box-shadow: 2px 2px 10px 5px rgba(165, 165, 165, 0.187);
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hospital-details {
}

.hospital-details .container {
  padding: 15px 0;
}
.input-group .btn-primary,
.input-group .btn-secondary {
  height: 100%;
  min-width: 100px;
}

.input-group .dropdown .btn {
  height: 100%;
}
/* Remove border-radius for input group and dropdown in Finder */
.input-group > .dropdown,
.input-group > .dropdown .dropdown-toggle,
.input-group > .dropdown .dropdown-menu,
.input-group-lg > .form-control,
.input-group-lg > .btn,
.input-group-lg > .dropdown .dropdown-toggle {
  border-radius: 0 !important;
}
