body {
}

.close-button {
  background: none;
  border: none;
}

.tile {
    -webkit-box-shadow: 0px 0px 1px 1px #CBCBCB;
    box-shadow: 0px 0px 1px 1px #CBCBCB;
    background: #fff;
    border-radius: 7px;
    padding: 20px;
}

.hospital-details .close-ui {
    float: right;
}

.hospital-details {
    background: #F7FAFC;
}

.hospital-details {
}

.hospital-details .container {
  padding: 15px 0;
}
.input-group .btn-primary,
.input-group .btn-secondary {
  height: 100%;
  min-width: 100px;
}

.hospital-details .container {
     padding:15px 0; 
}

.hospital-details .addr {
    color: #6A7A90;
}
.card-active {
    background: #F3F8FE;
    border-color: #197FE6;
}

.hospital-pic {
    height: 100%;
    max-height:142px;
    object-fit: cover;
}