@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using app.Models
@inject NavigationManager Nav
@inject ProtectedSessionStorage Session

<link href="/css/admin.css" rel="stylesheet" />
<script src="/js/jquery-4.0.0.min.js"></script>
<script src="/js/typehead.bundle.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<link href="/css/bootstrap//bootstrap-tagsinput.css" rel="stylesheet" />

<div class="navbar navbar-expand-lg navbar-light bg-white">
    <NavMenu OnClickLogout="Logout" />
</div>

<div class="admin-main-page">
    <div>
        @Body
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var currentSess = await Session.GetAsync<string>("email");
            string? currentUser = currentSess.Value;
            var currentSess2 = await Session.GetAsync<string>("role");
            string? currentRole = currentSess2.Value;
            if (string.IsNullOrEmpty(currentUser))
            {
                Nav.NavigateTo("/admin/login");
                return;
            }

            if ("rep" == currentRole)
            {
                Nav.NavigateTo("/rep/hospital");
                return;
            }
        }
    }

    private async Task Logout()
    {
        await Session.DeleteAsync("email");
        await Session.DeleteAsync("role");
        Nav.NavigateTo("/admin/login");
    }

}