<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="mx-5"> <i class="bi bi-hospital fs-1 text-primary"></i></div>
    <div class="navbar-nav d-flex justify-content-between w-100 me-5">
        <div class="d-flex align-items-center">
            <NavLink class="nav-item nav-link fs-5" href="/admin/hospitals" Match="NavLinkMatch.Prefix">Hospitals
            </NavLink>
            <NavLink class="nav-item nav-link fs-5" href="/admin/reps" Match="NavLinkMatch.Prefix">Representatives
            </NavLink>
        </div>
        <div>
            <a class="nav-item nav-link" href="/admin/login" @onclick="OnLogoutClick">
                <button class="btn btn-danger fs-5">Logout</button>
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClickLogout { get; set; }

    private Task OnLogoutClick(MouseEventArgs args)
    {
        return OnClickLogout.InvokeAsync(args);
    }
}