<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="d-flex justify-content-between w-100 px-5">
        <div class="d-flex justify-content-center align-items-center gap-5 fs-4">
            <div> <i class="bi bi-hospital fs-1 text-primary"></i></div>
            <div>
                <NavLink class="nav-item nav-link fs-5" href="/rep/hospital" ActiveClass="active-tab">Hospital</NavLink>
            </div>
            <div>
                <NavLink class="nav-item nav-link fs-5" href="/rep/settings" ActiveClass="active-tab">Settings</NavLink>
            </div>
        </div>
        <div>
            <a class="nav-item nav-link" href="#" @onclick="OnLogoutClick">
                <button class="btn btn-danger fs-5">Logout</button>
            </a>
        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback<MouseEventArgs> OnClickLogout { get; set; }

    private Task OnLogoutClick(MouseEventArgs args)
    {
        return OnClickLogout.InvokeAsync(args);
    }
}